@model CreateDestinationCommand
@{
    ViewData["Title"] = "AddDestination";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Lokasyon Ekle</h1>
<div class="row">
    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <small class="text-muted float-end">Ekle</small>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-fullname">@Html.Label("Şehir")</label>
                        <input type="text" class="form-control" id="basic-default-fullname" asp-for="City" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="basic-default-email">@Html.Label("Kapasite")</label>
                        <div class="input-group input-group-merge">
                            <input type="text" id="basic-default-email" class="form-control" asp-for="Status" />
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="basic-default-company">@Html.Label("Fiyat")</label>
                        <input type="text" class="form-control" id="basic-default-company" asp-for="Price" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="basic-default-phone">@Html.Label("Süre")</label>
                        <input type="text" id="basic-default-phone" class="form-control phone-mask" asp-for="DayNight" />
                    </div>
                    <button class="badge bg-label-info me-1"><i class="bx bx-send me-1"></i>Gönder</button>
                </form>
            </div>
        </div>
    </div>
</div>




