@using EntityLayer.Concrete
@model List<ContactUs>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}


<h1>Bize Ulaşın</h1>
<div class="card">
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Gönderen</th>
                    <th>Konu</th>
                    <th>Tarih</th>
                    <th>Sil</th>
                    <th>Mesajı Aç</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var item in Model)
                {
                    <tr>
                        @{
                            count = @count + 1;
                        }
                        <td>@count</td>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.Name</strong></td>
                        <td>@item.Subject</td>
                        <td>@item.MessageDate.ToString("dd.MMMM.yyyyy")</td>
                        <td><a style="border:2px solid #000" href="/Admin/Destination/DeleteDestination/@item.ContactUsId" class="badge bg-label-danger me-1"><i class="bx bx-trash me-1"></i>Sil</td>
                        <td><a style="border:2px solid #000" href="/Admin/Destination/UpdateDestination/@item.ContactUsId" class="badge bg-label-info me-1"><i class="bx bx-edit-alt me-1"></i>Mesajı Aç</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

