@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excel Raporları</h1>
<br />
<a style="border:2px solid #000" href="/Excel/StaticExcelReport/" class="badge bg-label-primary me-1"><i class='bx bxs-report'></i>Statik Excel Raporları</a>
<br />
<br />
<a style="border:2px solid #000" href="/Excel/DestinationExcelReport/" class="badge bg-label-info me-1"><i class='bx bxs-report'></i>Tur Listesi Excel Raporları</a>


                                                                                                                            