
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Pdf Raporları</h1>
<br />
<a style="border:2px solid #000" href="/PdfReport/StaticPdfReport/" class="badge bg-label-primary me-1"><i class='bx bxs-report'></i>Statik Pdf Raporları</a>
<br />
<br />
<a style="border:2px solid #000" href="/PdfReport/StaticCustomerPdfReport/" class="badge bg-label-info me-1"><i class='bx bxs-report'></i>Statik Misafir Pdf Raporları</a>


