@{
    ViewData["Title"] = "Home Page";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    $(document).ready(() => {

        // SignalR bağlantısını oluştur
        var connection = new signalR.HubConnectionBuilder().withUrl("http://localhost:25059/VisitorHub").build();

        // Sayfayı yüklerken başlangıçta bağlantı durumunu göster
        $("#connectionStatus").text("Bağlanıyor...");

        // Bağlantı başlatıldıktan sonra bağlantı durumunu güncelle
        connection.start().then(() => {
            $("#connectionStatus").text("Bağlantı başarılı"); // Bağlantı kurulduysa mesaj
        }).catch((err) => {
            $("#connectionStatus").text("Bağlantı başarısız"); // Bağlantı kurulamazsa hata mesajı
            console.log(err);
        });

    });
</script>

<div class="container">
    <br />
    <div class="alert alert-warning">
        Bağlantınızın Durumu: <b id="connectionStatus"></b>
    </div>
</div>
