
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<!--Slider-->
@await Component.InvokeAsync("_SliderPartial")

<section class="ftco-section services-section bg-light">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            </div>
        </div>
    </div>
</section>

<!--Featured Destionations-->
@await Component.InvokeAsync("_FeaturedDestionations")

<!--Statistic -->
@await Component.InvokeAsync("_Statistic")

<!--Hotels -->
@await Component.InvokeAsync("_HotelsPartial")

<!--Restuarant -->
@await Component.InvokeAsync("_RestuarantPartial")


